*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
    background: linear-gradient(-45deg,#00ff88,#00c6ff,#ff4e50,#f9d423); ;
    font-family:cursive;
    overflow: hidden;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.bubbles span{
    position: absolute;
    bottom:-50px;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: rise 10s linear infinite;
}
@keyframes rise{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px) rotate(360deg);
        opacity: 0;
    }
}


h1,h3{
    text-align: center;

}

.page1{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes gradientMove{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }   
}


#container{
    height: 70%;
    width: 30%;
    border-radius: 30px;
    margin-top: 10px;
    /* background-color: rgb(190, 201, 206); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(2px);

    /* flex-direction: column;
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    z-index: 999; */
    animation: zoomIn 0.5s ease;
    /* filter: blur(1px); */
    box-shadow: 0 0 5px rgba(244, 244, 244, 0.469);
    
    
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#sticker{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    margin-top: 10px;
    background-size: cover;
    transition: 0.9s ease all;
}
#sticker img{
        height: 100%;
        width: 100%;
    background-size: cover;
    border-radius: 30px;
    transition: 0.9s ease all;
    /* mix-blend-mode: multiply; */
    /* filter: brightness(1.1) contrast(1.2); */
}

#big{
    height: 50px;
    width: 100%;
    /* background-color: rgb(108, 97, 97); */
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
align-items: center;
justify-content: center;
backdrop-filter: blur(62px);
    -webkit-backdrop-filter: blur(32px);
    box-shadow: 0 0 5px rgba(244, 244, 244, 0.469);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.119);
}
#small{
    height: 40px;
    width:100%;
    /* background-color: white; */
    margin-top: 10px;
    display: flex;
align-items: center;
justify-content: center;
backdrop-filter: blur(62px);
    -webkit-backdrop-filter: blur(22px);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(244, 244, 244, 0.469);
}
.option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    
}
.option .btn{
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(30, 36, 25);
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.9);  
}
.option #yes:hover{
    background-color: rgb(13, 254, 0);
    color: rgb(69, 58, 58);
    box-shadow: 0 0 20px rgb(3, 255, 87);  
    transform: scale(1.9);
    transition: 0.3s ease all;
}

h1{
    opacity: 0;
    transform: translate(30px);
    animation: slideUp 1.2s ease forwards;
    overflow: hidden;
    white-space: nowrap;
    animation: glow 2s infinite alternate;

}

p{
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3,p{
    opacity: 0;
    animation: blink 1.5s ease-in-out infinite;
    overflow: hidden;
    white-space: nowrap;
    animation: glow 2s infinite alternate;
}
@keyframes slideUp{
to{
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes blink{
   0% {opacity: 1;}
   50% {opacity: 0.4;}
  100% {opacity: 1;}
}

@keyframes glow{
    from{
        text-shadow: 0 0 5px white;
    }
to{
    text-shadow: 0 0 20px pink,0 0 30px hotpink;
    opacity: 1;
    transform: translate(0);
}
}

.option #no{
    background-color: rgba(255, 0, 0, 0.292);
    color: rgb(192, 255, 3);
    box-shadow: 0 0 20px rgb(255, 0, 0);  
    transform: scale(.8);
    transition: 0.3s ease all;
}